/**
 * Sample @font-face rules for Novocento
 * 
 * Usage:
 * Copy these rules into the appropriate Sass partial and update the file paths as needed
 *
*/

@font-face {
    font-family: 'Novecento sans wide';
    src: url('fonts/Novecentosanswide-DemiBold.woff2') format('woff2'),
        url('fonts/Novecentosanswide-DemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Novecento sans wide Normal';
    src: url('fonts/Novecentosanswide-Normal.woff2') format('woff2'),
        url('fonts/Novecentosanswide-Normal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

